<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'display/css/style.css' %}">
  <style type="text/css">
    #foreground{
      background-color: black;
    }
  </style>

</head>
<body>
{% block content %}


	
  <div id="foreground">
    <h1 id="ip_address">{{ rpi_ip }}</h1>
  </div>

	<script src="{% static 'display/js/jquery.min.js' %}"></script>
  <script src="{% static 'display/js/jquery.cacheimage.js' %}"></script>
  <script src="{% static 'display/js/pagetransitions.js' %}"></script>
  <script type="text/javascript">
    // https://stackoverflow.com/questions/10240110/how-do-you-cache-an-image-in-javascript
    function preloadImages(array) {
        if (!preloadImages.list) {
            preloadImages.list = [];
        }
        var list = preloadImages.list;
        for (var i = 0; i < array.length; i++) {
            var img = new Image();
            img.onload = function() {
                var index = list.indexOf(this);
                if (index !== -1) {
                    // remove image from the array once it's loaded
                    // for memory consumption reasons
                    list.splice(index, 1);
                }
            }
            list.push(img);
            img.src = array[i];
        }
    }
  </script>

  <script type="text/javascript">
    
    

    var currentArtworkUrl = "";
    function doPoll(){
      $.ajax({
          url: '/api/artworks/',
          dataType: 'json',
          success: function( data ) {
            var artwork = data[0];

            {% if portrait %}
              var latestArtwork = artwork.portrait;
            {% else %}
              var latestArtwork = artwork.landscape;
            {% endif %}
            

            if (currentArtworkUrl != latestArtwork){
              preloadImages([latestArtwork]);
              // $('#background').css('backgroundImage','url(' + latestArtwork + ')');

              setTimeout(
                function(){ 
                  $('#foreground').css('backgroundImage','url(' + latestArtwork + ')'); 
              }, 1000);

              console.log( "currentArtworkUrl" + currentArtworkUrl );
              console.log( "latestArtwork" + latestArtwork );


              currentArtworkUrl = latestArtwork;

              console.log('Changing Photo');
            }else{
              console.log('Ran but not changing photo');
            }
            setTimeout(doPoll, 5000);
          },
          error: function( data ) {
            console.log( "ERROR:  " + data );
            // doPoll();
            setTimeout(doPoll, 5000);
          }
        });        
    }
    doPoll();
  </script>
  <script type="text/javascript">
    setTimeout(
      function(){ 
        $("#ip_address").remove();
    }, 10000);
  </script>
{% endblock %}
</body>
</html>